.excesodiv{

	    overflow-x: hidden;
}



.est-edicion{
	background-color: #fbef86;
	    
}
.est-edicion:hover{
	background-color: #fbe315 !important;
	    
}


.est-aprobado{
	background-color: #9fda5a;
}
.est-aprobado:hover{
	background-color: #98d056 !important;
}


.est-inactivo{
	background-color: #85c4f7;
}
.est-inactivo:hover{
	background-color: #5eb2f5 !important;
}


.est-desaprobado{
	background-color: #d85945
}
.est-desaprobado:hover{
	background-color: #d85945 !important;
}